[submodule "nav2py_pas_crowdnav_controller/nav2py_pas_crowdnav_controller/PaS_CrowdNav"]
	path = nav2py_pas_crowdnav_controller/nav2py_pas_crowdnav_controller/PaS_CrowdNav
	url = https://github.com/yejimun/PaS_CrowdNav.git
